.btn-add {
    border-radius: 36px;
    background-color: var(--button-default-background);
    border: 1px solid var(--button-default-border);
    display: inline-block;
    width: 50%;
    height: 70%;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
.btn-add:hover {
    border: 1px solid var(--button-hover-border);
    background: var(--button-hover-background);
}
