.products-new {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap:24px;
    padding-bottom: 4.5rem;
}

.products-new-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

@media (min-width:700px) {
    .products-new {
        display: flex;
    }
    .products-new-list {
        flex-direction: row;
        flex-wrap: wrap;


    }
}
