.product-card {
    padding-bottom: 0.5rem;
    border: 1px solid var(--main-lower);
    border-radius: 4px;
    width: 100%;
    max-width: 330px;
    height: 100%;
    position: relative;
    

    display: flex;
    flex-direction: column;
    gap: 8px;

    &:hover {
        border: 1px solid var(--brand-grey)
    }

    .product-card_title::after {
        content: '';
        position: absolute;
        inset: 0;
    }
}

.product-card-img {
    background-color: var(--transparency-mask);
    padding: 1rem;
    border-bottom: solid 1px var(--main-highest);
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    


    .product-card_image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; 
        mix-blend-mode: color;    
    }
}

.product-card_title {
    font-size: 16px;
    color: var(--main-highest);
    padding: 0 0.5rem;
}

.product-card_price {
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
}
.product-card_price-euros {
   font-size: 2.125rem; 
   line-height: 0.9;
}
.product-card_price-cents {
    font-size: 13px;
}
